.products-product-div {
    position: relative;
}

.products-product-link:hover {
    text-decoration: none;
}

.products-product-link-hover-shadow {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.products-product-link-hover-shadow:hover {
    opacity: 0.05;
}

.products-product-price-instock-div {
    display: flex;
    justify-content: space-between;
}

.products-product-price {
    color: #e60021;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3334;
}

.products-product-instock {
    color: #73c44d;
}

.products-product-vendorName {
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3334;
}

.products-product-productName {
    color: black;
    font-size: 18px;
    line-height: 1.3334;
}

.products-product-shortDetail {
    color: black;
    font-size: 14px;
    line-height: 1.42858;
}

.products-product-rating {
    color: black;
    font-size: 13px;
    line-height: 1;
}

.products-product-numberOfRatings {
    margin-left: 8px;
    color: #009;
    font-size: 13px;
    line-height: 1;
}

.product-breadcrumb {
    list-style: none;
}

.product-breadcrumb-list-entry {
    display: inline-block;
}

.product-breadcrumb-list-entry:last-of-type span {
    color: #0009;
}

.product-detail {
    min-height: 520px;
    display: flex;
}

.product-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-div-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-price {
    color: #e60021;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.product-vendorName {
    color: black;
    font-weight: 600;
    font-size: 32px;
    margin-right: 0.5rem;
}

.product-productName {
    color: black;
    font-size: 32px;
    font-weight: 200;
}

.product-rating-statictext {
    color: #0009;
    display: block;
    font-size: 12px;
}

.product-rating {
    color: black;
    font-size: 13px;
    line-height: 1;
}

.product-numberOfRatings {
    margin-left: 8px;
    color: #009;
    font-size: 13px;
    line-height: 1;
}

.product-shipping {
    display: flex;
    color: rgb(43, 136, 0);
}

.product-order-button {
    padding: 9px 15px;
    background-color: #00559d;
    color: white;
    width: 100%;
    border-radius: 3px;
    border-color: transparent;
}

.product-order-button:hover {
    background-color: #e60021
}

.product-order-button:active {
    background-color: #00559d;
}
